<h2>Admin Control Panel</h2>
<h3>User List</h3>
<form action="/user/edit" method="post" id="userList">
	<input type="hidden" name="_method" value="put">
	<input class="button" type="submit" value="Apply">
	<br><br>
	<table>
		<thead>
			<tr>
				<th>Username</th><th>Date Joined</th><th>Edit?</th><th></th>
			</tr>
		</thead>
		<tbody>
			<% @list2.each do |liste| %>
				<tr>
					<td><a href="/user/<%= liste.username %>"><%= liste.username %></a></td>
					<td><%= liste.date_joined %></td>
					<td>
						<input type="checkbox" name="edit[]" value="<%= liste.id %>" <%= "checked" if liste.edit %>>
						<input type="hidden" name="userEdit[]" value="<%= liste.id %>">
					</td>
					<td><a class="delete-user" href="/user/delete/<%= liste.id %>">	&#10060;</a></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<br><br>
	<input class="button" type="submit" value="Apply">
</form>
